// Radius
$border-radius: 4px;
$border-radius-container: 8px;
$border-radius-full: 24px;

// Shadows
$box-shadow: 0 5px 5px rgb(0 0 0 / 4%);

// Button
$padding-button: 0.5rem 1rem;

// Navigation
$navigation-height: 80px;
