// Solid color
$white: #fff;
$black: #000;
$light-grey: #efefef;
$grey: #9a9a9a;

$primary-orange--100: #f6d3c0;
$primary-orange--200: #f1b798;
$primary-orange--300: #eb9b6f;
$primary-orange--400: #e67f47;
$primary-orange--500: #e0621f;
$primary-orange--600: #c2541a;
$primary-orange--700: #903f14;
$primary-orange--800: #672d0e;
$primary-orange--900: #3f1c09;
$primary-orange--950: #160a03;

// Brand colors
$primary-orange: $primary-orange--500;
$primary-orange-hover: $primary-orange--600;

// Radius
$border-radius: 4px;
$border-radius-container: 8px;

// Navigation
$navigation-height: 80px;

// Padding
$padding-item: 1rem;
