.flex {
  display: flex;

  &.align-center {
    align-items: center;
  }

  &.justify-center {
    justify-content: center;
  }
  &.gap {
    gap: $flex-gap;
  }
  &.gap-32 {
    gap: 32px;
  }
  &.gap-48 {
    gap: 32px;
  }
  &.gap-64 {
    gap: 64px;
  }
  &.row {
    flex-direction: row;
  }
  &.column {
    flex-direction: column;
  }
}
