@function decimal-to-class($value) {
  $integer: floor($value);
  $decimal: round(($value - $integer) * 100);
  @return "#{$integer}-#{$decimal}";
}

@for $i from 1 through 64 {
  $value: $i * 0.25;
  $class-suffix: decimal-to-class($value);

  // All padding
  .p-#{$class-suffix} {
    padding: #{$value}rem;
  }

  // Padding top
  .pt-#{$class-suffix} {
    padding-top: #{$value}rem;
  }

  // Padding bottom
  .pb-#{$class-suffix} {
    padding-bottom: #{$value}rem;
  }

  // Padding left
  .pl-#{$class-suffix} {
    padding-left: #{$value}rem;
  }

  // Padding right
  .pr-#{$class-suffix} {
    padding-right: #{$value}rem;
  }

  // Padding top and bottom
  .ptb-#{$class-suffix} {
    padding-top: #{$value}rem;
    padding-bottom: #{$value}rem;
  }

  // Padding left and right
  .plr-#{$class-suffix} {
    padding-left: #{$value}rem;
    padding-right: #{$value}rem;
  }
}
